<h1><%= t '.h1' %></h1>
<h2><%= t '.modo_online' %></h2>
<p>
  <%= I18n.locale.to_s  %>troll
  <%= t '.modo_online_txt' %>
</p>


<h2 style="margin-top: 50px"><%= t '.modo_local' %></h2>
<p>
  <%= t '.modo_local_txt' %>
</p>